---
layout: default
---

<div class="home">

    {{ content }}

    <h1 id="apst1"> Standard 1: Know students and how they learn </h1>
    <table>
        <col style="width:25%">
        <col style="width:75%">

        <tr>
            <th>Standard</th>
            <th>Reflection and Evidence against Standard</th>
        </tr>

        <tr>
            <td id="apst1-1">
                <p>
                    <strong>1.1 Physical, social and intellectual development and characteristics of students.</strong>
                </p>
                <p>
                    <strong>Graduate Level:</strong> Demonstrate knowledge and understanding of physical, social and intellectual
                    development and characteristics of students and how these may affect learning.</p>
                <!-- <p><strong>Proficient Level:</strong> Use teaching strategies based on knowledge of students’ physical, social and intellectual development and characteristics to improve student learning.</p> -->
            </td>
            <td>
                <a href="{{ site.baseurl }}/apst/1-1">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["1-1"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->
            </td>
        </tr>
        <tr>
            <td id="apst1-2">
                <p>
                    <strong>1.2 Understand how students learn.</strong>
                </p>
                <p>
                    <strong>Graduate Level:</strong> Demonstrate knowledge and understanding of research into how students learn
                    and the implications for teaching.</p>
            </td>
            <td>
                <a href="{{ site.baseurl }}/apst/1-2">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["1-2"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->
            </td>
        </tr>
        <tr>
            <td id="apst1-3">
                <p>
                    <strong>1.3 Students with diverse linguistic, cultural, religious and socioeconomic backgrounds.</strong>
                </p>
                <p>
                    <strong>Graduate Level:</strong> Demonstrate knowledge of teaching strategies that are responsive to the learning
                    strengths and needs of students from diverse linguistic, cultural, religious and socioeconomic backgrounds.</p>
            </td>
            <td>
                <a href="{{ site.baseurl }}/apst/1-3">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["1-3"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->
            </td>
        </tr>
        <tr>
            <td id="apst1-4">
                <p>
                    <strong>1.4 Strategies for teaching Aboriginal and Torres Strait Islander students.</strong>
                </p>
                <p>
                    <strong>Graduate Level:</strong> Demonstrate broad knowledge and understanding of the impact of culture, cultural
                    identity and linguistic background on the education of students from Aboriginal and Torres Strait Islander
                    backgrounds.</p>
            </td>
            <td>
                <a href="{{ site.baseurl }}/apst/1-4">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["1-4"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->
            </td>
        </tr>
        <tr>
            <td id="apst1-5">
                <p>
                    <strong>1.5 Differentiate teaching to meet the specific learning needs of students across the full range of abilities.</strong>
                </p>
                <p>
                    <strong>Graduate Level:</strong> Demonstrate knowledge and understanding of strategies for differentiating teaching
                    to meet the specific learning needs of students across the full range of abilities.</p>
            </td>
            <td>
                <a href="{{ site.baseurl }}/apst/1-5">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["1-5"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->
            </td>
        </tr>
        <tr>
            <td id="apst1-6">
                <p>
                    <strong>1.6 Strategies to support full participation of students with disability.</strong>
                </p>
                <p>
                    <strong>Graduate Level:</strong> Demonstrate broad knowledge and understanding of legislative requirements and
                    teaching strategies that support participation and learning of students with disability.</p>
            </td>
            <td>
                <a href="{{ site.baseurl }}/apst/1-6">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["1-6"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->
            </td>
        </tr>
    </table>

    <h1 id="apst2"> Standard 2: Know the content and how to teach it </h1>
    <table>
        <col style="width:25%">
        <col style="width:75%">

        <tr>
            <th>Standard</th>
            <th>Reflection and Evidence against Standard</th>
        </tr>
        <tr>
            <td id="apst2-1">
                <p>
                    <strong>2.1 Content and teaching strategies of the teaching area.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate knowledge and understanding of the concepts, substance and structure
                    of the content and teaching strategies of the teaching area.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/2-1">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["2-1"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->
            </td>
        </tr>
        <tr>
            <td id="apst2-2">
                <p>
                    <strong>2.2 Content selection and organisation.</strong>
                </p>
                <p>
                    <strong>Graduate Level:</strong> Organise content into an effective learning and teaching sequence.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/2-2">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["2-2"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->
            </td>
        </tr>
        <tr>
            <td id="apst2-3">
                <p>
                    <strong>2.3 Curriculum, assessment and reporting.</strong>
                </p>
                <p>
                    <strong>Graduate Level:</strong> Use curriculum, assessment and reporting knowledge to design learning sequences
                    and lesson plans.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/2-3">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["2-3"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->
            </td>
        </tr>
        <tr>
            <td id="apst2-4">
                <p>
                    <strong>2.4 Understand and respect Aboriginal and Torres Strait Islander people to promote reconciliation between
                        Indigenous and non- Indigenous Australians.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate broad knowledge of, understanding of and respect for Aboriginal
                    and Torres Strait Islander histories, cultures and languages</p>
            </td>
            <td>



                <a href="{{ site.baseurl }}/apst/2-4">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["2-4"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
        <tr>
            <td id="apst2-5">
                <p>
                    <strong>2.5 Literacy and numeracy strategies.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Know and understand literacy and numeracy teaching strategies and their application
                    in teaching areas.</p>
            </td>
            <td>


                <a href="{{ site.baseurl }}/apst/2-5">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["2-5"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
        <tr>
            <td id="apst2-6">
                <p>
                    <strong>2.6 Information and Communication Technology (ICT).</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Implement teaching strategies for using ICT to expand curriculum learning opportunities
                    for students.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/2-6">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["2-6"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
    </table>



    <h1 id="apst3"> Standard 3: Plan for and implement effective teaching and learning </h1>

    <table>
        <col style="width:25%">
        <col style="width:75%">

        <tr>
            <th>Standard</th>
            <th>Reflection and Evidence against Standard</th>
        </tr>
        <tr>
            <td id="apst3-1">
                <p>
                    <strong>3.1 Establish challenging learning goals.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Set learning goals that provide achievable challenges for students of varying
                    abilities and characteristics.</p>
            </td>
            <td>


                <a href="{{ site.baseurl }}/apst/3-1">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["3-1"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
        <tr>
            <td id="apst3-2">
                <p>
                    <strong>3.2 Plan, structure and sequence learning programs.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Plan lesson sequences using knowledge of student learning, content and effective
                    teaching strategies.</p>
            </td>
            <td>


                <a href="{{ site.baseurl }}/apst/3-2">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["3-2"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
        <tr>
            <td id="apst3-3">
                <p>
                    <strong>3.3 Use teaching strategies.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Include a range of teaching strategies.</p>
            </td>
            <td>


                <a href="{{ site.baseurl }}/apst/3-3">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["3-3"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
        <tr>
            <td id="apst3-4">
                <p>
                    <strong>3.4 Select and use resources.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate knowledge of a range of resources, including ICT, that engage students
                    in their learning.</p>
            </td>
            <td>


                <a href="{{ site.baseurl }}/apst/3-4">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["3-4"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
        <tr>
            <td id="apst3-5">
                <p>
                    <strong>3.5 Use effective classroom communication.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate a range of verbal and non-verbal communication strategies to support
                    student engagement.</p>
            </td>
            <td>


                <a href="{{ site.baseurl }}/apst/3-5">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["3-5"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
        <tr>
            <td id="apst3-6">
                <p>
                    <strong>3.6 Evaluate and improve teaching programs.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate broad knowledge of strategies that can be used to evaluate teaching
                    programs to improve student learning.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/3-6">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["3-6"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
        <tr>
            <td id="apst3-7">
                <p>
                    <strong>3.7 Engage parents/carers in the educative process.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Describe a broad range of strategies for involving parents/carers in the educative
                    process.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/3-7">For a comprehensive list of relevant evidence/reflections see here</a>.
                <!-- :
		<ul>
			{% for post in site.tags["3-7"] %}
				* <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			{% endfor %}
		</ul> -->

            </td>
        </tr>
    </table>



    <h1 id="apst4"> Standard 4: Create and maintain supportive and safe learning environments </h1>

    <table>
        <col style="width:25%">
        <col style="width:75%">

        <tr>
            <th>Standard</th>
            <th>Reflection and Evidence against Standard</th>
        </tr>
        <tr>
            <td id="apst4-1">
                <p>
                    <strong>4.1 Support student participation.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Identify strategies to support inclusive student participation and engagement
                    in classroom activities.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/4-1">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["4-1"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst4-2">
                <p>
                    <strong>4.2 Manage classroom activities.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate the capacity to organise classroom activities and provide clear
                    directions.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/4-2">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["4-2"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst4-3">
                <p>
                    <strong>4.3 Manage challenging behaviour.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate knowledge of practical approaches to manage challenging behaviour.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/4-3">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["4-3"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst4-4">
                <p>
                    <strong>4.4 Maintain student safety.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Describe strategies that support students’ well- being and safety working within
                    school and/or system, curriculum and legislative requirements.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/4-4">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["4-4"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst4-5">
                <p>
                    <strong>4.5 Use ICT safely, responsibly and ethically.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate an understanding of the relevant issues and the strategies available
                    to support the safe, responsible and ethical use of ICT in learning and teaching.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/4-5">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["4-5"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
    </table>



    <h1 id="apst5"> Standard 5: Assess, provide feedback and report on student learning </h1>

    <table>
        <col style="width:25%">
        <col style="width:75%">

        <tr>
            <th>Standard</th>
            <th>Reflection and Evidence against Standard</th>
        </tr>
        <tr>
            <td id="apst5-1">
                <p>
                    <strong>5.1 Assess student learning.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate understanding of assessment strategies, including informal and formal,
                    diagnostic, formative and summative approaches to assess student learning.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/5-1">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["5-1"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst5-2">
                <p>
                    <strong>5.2 Provide feedback to students on their learning.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate an understanding of the purpose of providing timely and appropriate
                    feedback to students about their learning.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/5-2">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["5-2"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst5-3">
                <p>
                    <strong>5.3 Make consistent and comparable judgements.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate understanding of assessment moderation and its application to support
                    consistent and comparable judgements of student learning.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/5-3">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["5-3"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst5-4">
                <p>
                    <strong>5.4 Interpret student data.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate the capacity to interpret student assessment data to evaluate student
                    learning and modify teaching practice.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/5-4">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["5-4"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst5-5">
                <p>
                    <strong>5.5 Report on student achievement.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate understanding of a range of strategies for reporting to students
                    and parents/carers and the purpose of keeping accurate and reliable records of student achievement.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/5-5">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["5-5"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
    </table>



    <h1 id="apst6"> Standard 6: Engage in professional learning </h1>

    <table>
        <col style="width:25%">
        <col style="width:75%">

        <tr>
            <th>Standard</th>
            <th>Reflection and Evidence against Standard</th>
        </tr>
        <tr>
            <td id="apst6-1">
                <p>
                    <strong>6.1 Identify and plan professional learning needs.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate an understanding of the role of the National Professional Standards
                    for Teachers in identifying professional learning needs.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/6-1">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["6-1"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst6-2">
                <p>
                    <strong>6.2 Engage in professional learning and improve practice.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Understand the relevant and appropriate sources of professional learning for
                    teachers.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/6-2">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["6-2"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst6-3">
                <p>
                    <strong>6.3 Engage with colleagues and improve practice.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Seek and apply constructive feedback from supervisors and teachers to improve
                    teaching practices.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/6-3">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["6-3"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst6-4">
                <p>
                    <strong>6.4 Apply professional learning and improve student learning.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Demonstrate an understanding of the rationale for continued professional learning
                    and the implications for improved student learning.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/6-4">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["6-4"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
    </table>



    <h1 id="apst7"> Standard 7: Engage professionally with colleagues, parents/carers and the community </h1>

    <table>
        <col style="width:25%">
        <col style="width:75%">

        <tr>
            <th>Standard</th>
            <th>Reflection and Evidence against Standard</th>
        </tr>
        <tr>
            <td id="apst7-1">
                <p>
                    <strong>7.1 Meet professional ethics and responsibilities.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Understand and apply the key principles described in codes of ethics and conduct
                    for the teaching profession.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/7-1">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["7-1"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst7-2">
                <p>
                    <strong>7.2 Comply with legislative, administrative and organisational requirements.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Understand the relevant legislative, administrative and organisational policies
                    and processes required for teachers according to school stage.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/7-2">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["7-2"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst7-3">
                <p>
                    <strong>7.3 Engage with the parents/carers.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Understand strategies for working effectively, sensitively and confidentially
                    with parents/carers</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/7-3">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["7-3"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
        </tr>
        <tr>
            <td id="apst7-4">
                <p>
                    <strong>7.4 Engage with professional teaching networks and broader communities.</strong>
                </p>

                <p>
                    <strong>Graduate Level:</strong> Understand the role of external professionals and community representatives
                    in broadening teachers’ professional knowledge and practice.</p>
            </td>
            <td>

                <a href="{{ site.baseurl }}/apst/7-4">For a comprehensive list of relevant evidence/reflections see here</a>:
                <ul>
                    {% for post in site.tags["7-4"] %} *
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    {% endfor %}
                </ul>

            </td>
            </td>
        </tr>
    </table>
</div>