---
layout: default
---
<div class="blog list">
	<header class="post-header">
        <h1 class="post-title">#{{ page.tag }}</h1>
        {%- if page.about.size > 0 -%}
        <p class="post-description">{{ page.about }}.</p>
        {%- elsif page.title.size > 0 -%}
        <p class="post-description">Content relating to: {{ page.title }}</p>
        {%- endif %}
	</header>
	{%- if page.categories.size > 0 %}
		<h2>Filter by Subcategory:</h2> 	  
		<ul style="margin-bottom:0.7cm;">
			{%- for category in page.categories %}
			<li><a href="{{ site.baseurl }}/category/{{ category }}">#{{ category }}</a></li>
			{%- endfor %}
			<li><a href="{{ site.baseurl }}/blog">Back to all reflections</a></li>
		</ul>
	{% endif %}
	<ul class="post-list">
		{%- for post in site.categories[page.tag] -%}
			{%- include post_preview.html %}
		{% endfor %}
	</ul>	
</div>